
div#page-wrap ul#nav li a:hover, div#page-wrap ul#nav li a:active
{
	color:white;
	background-color:#a1c501;
	/* border-style: solid; /* animated menu */ 
}

div#page-wrap ul#nav li .contact_us /* Home Page Tab Highlight */
{
	color:white;
	background-color:#008bd0;
}

#content{ width:630px; }

#sidebar .widgetwrap .menu li
{
	list-style-type:circle;
	list-style-position:inside;
}