
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body
{
background-color:white;
font-family: Helvetica LT CondensedLight;
}


#blocks h1
{	
	text-align:center;
	font-size:18px;
	line-height:24px;
	/* text-shadow: 1px 1px 2px #888888; */
}

#blocks h2
{
	text-align:left;
	font-size:15px;
	line-height:20px;
	/* text-shadow: 1px 1px 2px #888888; */
}

strong
{
	font-weight:bold;
}

#blocks h2 ol
{
	list-style-type:decimal; 
}

#blocks h2 ul
{
	list-style-type:circle;
}

div#page-wrap
{
width:100%; /* to wrap the page when dimensions of browser change */
min-width:980px; /* beyond this width, scroll is provided and page wraps*/
margin:0 auto;
overflow-x:hidden;
}

a.logo_wrap
{
width:217px;
margin:22px auto; /* auto helps to align the logo to the center */
margin-bottom:40px;
display:block;
}

div#page-wrap ul#nav li
{
float:left;
display:block;
}

div#page-wrap ul#nav li a
{
display:block;
width:150px;
height:25px;
text-decoration:none;
font-weight:bold;
color:black;
padding-top:10px;
margin-bottom:0;
}

div#page-wrap ul#nav /* Menu Items */
{
list-style-type:none;
text-align:center;
width:795px;
margin:0 auto;
}

div#page-wrap ul#nav li a:hover, div#page-wrap ul#nav li a:active
{
color:white;
background-color:#a1c501;
/* border-style: solid; /* animated menu */ 
}

div#page-wrap ul#nav li .home /* Home Page Tab Highlight */
{
color:white;
background-color:#008bd0;
}



div#boxes
{
margin-top:-50px;
display:block;
width:100%; 
min-width:1380px;
background: url(images/footer.png) repeat-x bottom; 
height:250px; 
/*check element footer's position 
background-color:#a1c501;
border-style: solid; 
*/
}



div#boxes p
{
margin-top:65px;
position:relative;
background: url(images/top_gradient_bg.png) no-repeat top;
display:block;
font-family: Helvertico, sans-serif;
font-size:20px;
text-align:center;
margin-left:90px;
height:90px;
float:left;
width:330px;
background-color:#008bd0;
padding-top:70px;
border-radius:100px;
box-shadow: 0 10px 5px #888888;
}

div#boxes p:hover, div#boxes p:active
{
	background-color:#a1c501;
}

div#boxes p a#title
{
	font-size:25px;
	color:white;
	display:block;
}

div#boxes p a#link
{
	font-size:25px;
	color:white;
	display:none;
}

div#boxes p:hover a#title
{
	display:none;
}

div#boxes p:hover a#link
{
	font-size:25px;
	color:white;
	text-decoration:none;
	display:block;
}

div#subtopics
{
	display:block;
	width:100%; 
	min-width:1380px;
	height:250px; 
	background: url(images/main_bg.gif) repeat;

}

div#subtopics div#blocks
{
	margin-top:25px;
	display:block;
	font-family: Helvertico, sans-serif;
	font-size:20px;
	text-align:center;
	margin-left:90px;
	height:180px;
	float:left;
	width:330px;
	padding-top:10px;
	/*
	border-style:solid;
	border-color:black;
	border-width:1px;
	border-radius:10px;
	box-shadow: 0 10px 5px #888888;
	background:#fbfcfc url(images/top_gradient_bg.png) repeat;
	*/
}



.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
